@mixin scrollbars($size, $foreground-color) {
  // Firefox
  scrollbar-color: $foreground-color transparent;
  scrollbar-width: $size;

  // Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 8px;
    visibility: hidden;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  // Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: transparent;
  }
}
