// Typography
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
$white: white;
$white-2: #ccc;
$black: black;
$grey-1: #a2a2a2;
$grey-2: #888;
$grey-3: #484848;
$grey-4: #313131;
