@import 'variables';
@import 'fonts';
@import '~rootstrap-ui/dist/styles/scss/index';
@import '~loaders.css/src/animations/ball-scale-multiple';
@import '~bootstrap/scss/bootstrap';

@import './components/all';

body {
  background-color: black;
  color: white;
  font-family: 'Roboto Mono', monospace;;
}

.loading-wrapper {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;

  // These two classes are required by react-loaders
  .loader-hidden {
    display: none;
  }

  .loader-active {
    display: block;
  }
}

.header {
  font-family: 'Grenze Gotisch', cursive;
  font-size: 3rem;
  padding: 4vh;
  text-align: center;

  &__logo {
    width: 150px;
  }
}
